server:
  internalPort: 5000
  externalPort: 0
  runMode: release

logger:
  filePath: /app/logs/
  encoding: json
  level: debug
  logger: zerolog

cors:
  allowOrigins: "*"

password:
  includeChars: true
  includeDigits: true
  minLength: 6
  maxLength: 64
  includeUppercase: true
  includeLowercase: true

otp:
  expireTime: 120
  digits: 6
  limiter: 100

jwt:
  secret: "mySecretKey"
  refreshSecret: "mySecretKey"
  accessTokenExpireDuration: 60
  refreshTokenExpireDuration: 60
